@font-face {
  font-family: "AvenirBook";
  src: url("/fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "AvenirMedium";
  src: url("/fonts/AvenirLTStd-Medium.otf");
}
@font-face {
  font-family: "AvenirRoman";
  src: url("/fonts/AvenirLTStd-Roman.otf");
}
@font-face {
  font-family: "AvenirHeavy";
  src: url("/fonts/Avenir-Heavy.otf");
}
@font-face {
  font-family: "AvenirBlack";
  src: url("../public/fonts/AvenirLTStd-Black.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: AvenirRoman;
  font-weight: 400;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
